
h1, h2, h3, h4, h5, h6, .title {
    font-family: 'Zilla Slab', serif;
}

p, .lead {
    font-family: 'Roboto', serif;
}

/* INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX */
nav {
    width: 100%;
    padding: 0.4em;
}

.custom-top {
    position: absolute;
    left:0;
    border-radius: 0;
    z-index: 1000;
    border: none;
    background-color: white;
}

.nav-logo {
    height: 5em;
    width: auto;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1.5em;
}
 .glyphicon-triangle-left {
    font-size: 0.7em;
} 
.nav-text {
    color: black;
    font-size: 2em;
    font-family: 'Zilla Slab', serif;
}
.nav-text-b {
    color: white;
    font-size: 2em;
    font-family: 'Zilla Slab', serif;
}
#donate {
    height: 1.5em;
    width: 4.5em;
    border-radius: 0.45em;
    background-color: rgb(2, 92, 46);
}

.brand-footer {
    background-color: rgb(2, 92, 46);
    color: white;
    padding: 1em;
}
/* WELCOME WELCOME WELCOME WELCOME WELCOME WELCOME */
.login {
    border: solid black .5px;
}

.fa {
    color: white;
    height: 22px;
    width: 22px;
}

<<<<<<< HEAD
#custom-caption {
    right: unset;
    left: 1em;
    text-align: left;
    padding-bottom: 100px;
    margin-bottom: 210px;
    padding-right: 90px;    
}
.btn-mckamey {
    background-color: rgb(2, 92, 46);
    color:rgb(150, 136, 98);
    font-family: 'Zilla Slab', serif;
}






=======
#cat-prices {
    float: right;
}
>>>>>>> 83e51433ec00c505e3e567e03ec9a88c4cb5b164
/* ANIMAL LIST ANIMAL LIST ANIMAL LIST ANIMAL LIST */

/* SINGLE ANIMAL SINGLE ANIMAL SINGLE ANIMAL */

/* USER LIST USER LIST USER LIST USER LIST */

/* SINGLE USER SINGLE USER SINGLE USER SINGLE USER */

/* FORUM HOME FORUM HOME FORUM HOME FORUM HOME */

/* SINGLE POST SINGLE POST SINGLE POST SINGLE POST */

/* DONATIONS DONATIONS DONATIONS DONATIONS */

/* ADMIN ADMIN ADMIN ADMIN ADMIN ADMIN ADMIN ADMIN */