
h1, h2, h3, h4, h5, h6, .title {
    font-family: 'Zilla Slab', serif;
}

p, .lead {
    font-family: 'Roboto', serif;
}
a:focus, a:hover {
    color: white;
    background-color: black;
}
#navbar>.navbar-nav>li>a:hover, #navbar>.navbar-nav>li>a:focus {
    color: white;
    background-color: black;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:link, .navbar-nav>li>a:visited {
    background-color: transparent;
}
/* INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX */
nav {
    width: 100%;
    padding: 0.4em;
}

.custom-top {
    position: absolute;
    left:0;
    border-radius: 0;
    z-index: 1000;
    border: none;
    background-color: white;
    /* height: 7.5em; */
    min-height: 7.5em;
}

.nav-logo {
    height: 3.5em;
    width: auto;
    /* margin: 1em 1.5em 1em 1em; */
}
a.navbar-brand:hover, a.navbar-brand:active, a.navbar-brand:visited, a.navbar-brand:link {
    background-color: transparent;
}
 .glyphicon-triangle-left {
    font-size: 0.7em;
} 
.nav-text {
    color: black;
    font-size: 2em;
    font-family: 'Zilla Slab', serif;
}
#public-nav {
    display: inline-block;
    list-style-type: none;
    margin-top: 1em;
}
.navbar-nav>li>a {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-top: 0.75em;
}
.nav-text-b {
    color: white;
    font-size: 2em;
    font-family: 'Zilla Slab', serif;
}
#donate {
    height: 1.25em;
    width: 4.25em;
    /* border-radius: 0.25em; */
    background-color: rgb(2, 92, 46);
    text-align: center;
    padding: 0.2em;
}


.brand-footer {
    background-color: rgb(2, 92, 46);
    color: white;
    padding: 1em;
}
.login {
    border: solid black .5px;
}
.fa {
    color: white;
    height: 22px;
    width: 22px;
}

/* SIDE PANEL SIDE PANEL SIDE PANEL SIDE PANEL */
/* .slideout-menu {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        width: 256px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        display: none;
      }

      .slideout-panel {
        position: relative;
        z-index: 1;
        will-change: transform;
      }

      .slideout-open,
      .slideout-open body,
      .slideout-open .slideout-panel {
        overflow: hidden;
      }

      .slideout-open .slideout-menu {
        display: block;
      } */

/* WELCOME WELCOME WELCOME WELCOME WELCOME WELCOME */

.carousel-control.right:hover, .carousel-control.right:active,
.carousel-control.right:visited,
.carousel-control.right:link {
 background-color: transparent;
}
.carousel-control.left:hover, .carousel-control.left:active, .carousel-control.left:visited,
.carousel-control.left:link {
 background-color: transparent;
}
.carousel-control.right {
    background-color: transparent;
}
.carousel-control.left {
    background-color: transparent;
}
#custom-caption {
    /*right: unset;*/
    left: 1em;
    text-align: left;
    margin-bottom: 600px;
    margin-top: 1em;
}
#scroll-image {
    max-height: 950px;
    width: 100%;
   position: center center;
}
.carousel slide {
    margin-top: 51px;
}
.btn-mckamey {
    background-color: rgb(2, 92, 46);
    color: white;
    font-family: 'Zilla Slab', serif;
}

#cat-prices {
    float: right;
}

/* ANIMAL LIST ANIMAL LIST ANIMAL LIST ANIMAL LIST */
#animal-display {
    /*align-content: center;
    padding: 10px;
    margin: 10px;
    vertical-align: middle;
    justify-content: center;*/
}
.the-animals {
    padding: 5px;
}
.animal-name {
    float: left;
}
.animal-description {
    float: right;
}
/*.animal-div {
    align-content: center;
}*/
.animal-pic {
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 300px;
    min-height: 300px;
    min-width: 300px;
}




/* SINGLE ANIMAL SINGLE ANIMAL SINGLE ANIMAL */

/* USER LIST USER LIST USER LIST USER LIST */

/* SINGLE USER SINGLE USER SINGLE USER SINGLE USER */

/* FORUM HOME FORUM HOME FORUM HOME FORUM HOME */

/* SINGLE POST SINGLE POST SINGLE POST SINGLE POST */

/* DONATIONS DONATIONS DONATIONS DONATIONS */

/* ADMIN ADMIN ADMIN ADMIN ADMIN ADMIN ADMIN ADMIN */