
h1, h2, h3, h4, h5, h6, .title {
    font-family: 'Zilla Slab', serif;
}
p, .lead {
    font-family: 'Roboto', serif;
}
a:link {
    color: black;
    text-decoration: none;
}
a:focus, a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}
#navbar>.navbar-nav>li>a:hover, #navbar>.navbar-nav>li>a:focus {
    color: white;
    background-color: black;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:link, .navbar-nav>li>a:visited {
    background-color: transparent;
}
.pointer {
    cursor: pointer;
}
.green-back {
    background-color: rgb(2, 92, 46);
    color: white;
}
.gold-back {
    background-color: rgb(150, 136, 98);
    color: white;
}
.black-back {
    background-color: black;
    color: white;
}

h3 {
    padding-top: 0px;
}
/* INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX */
nav {
    width: 100%;
    padding: 0.4em;
}

.top {
    margin-top: 7.5em;
}

.custom-top {
    position: absolute;
    left:0;
    border-radius: 0;
    z-index: 1000;
    border: none;
    background-color: white;
    /* height: 7.5em; */
    min-height: 7.5em;
}

.nav-logo {
    height: 3.5em;
    width: auto;
    /* margin: 1em 1.5em 1em 1em; */
}
a.navbar-brand:hover, a.navbar-brand:active, a.navbar-brand:visited, a.navbar-brand:link {
    background-color: transparent;
}
 .glyphicon-triangle-left {
    font-size: 0.7em;
} 
.nav-text {
    color: black;
    font-size: 2em;
    font-family: 'Zilla Slab', serif;
}

.navbar-nav>li>a {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-top: 0.75em;
}

.nav-text-b {
    color: white;
    font-size: 2em;
    font-family: 'Zilla Slab', serif;
}
#donate {
    height: 1.25em;
    width: 4.25em;
    /* border-radius: 0.25em; */
    background-color: rgb(2, 92, 46);
    text-align: center;
    padding: 0.2em;
}


.brand-footer {
    background-color: rgb(2, 92, 46);
    color: white;
    padding: 1em;
}

.fa {
    color: white;
    height: 22px;
    width: 22px;
}
.bold-text {
    font-weight: bold;
}
/* SIDE PANEL SIDE PANEL SIDE PANEL SIDE PANEL */
/* .slideout-menu {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        width: 256px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        display: none;
      }

      .slideout-panel {
        position: relative;
        z-index: 1;
        will-change: transform;
      }

      .slideout-open,
      .slideout-open body,
      .slideout-open .slideout-panel {
        overflow: hidden;
      }

      .slideout-open .slideout-menu {
        display: block;
      } */

/* WELCOME WELCOME WELCOME WELCOME WELCOME WELCOME */

.carousel-control.right:hover, .carousel-control.right:active,
.carousel-control.right:visited,
.carousel-control.right:link{
     background-color: transparent;
}

.carousel-control.left:hover, .carousel-control.left:active, .carousel-control.left:visited,
.carousel-control.left:link {
     background-color: transparent;
}
.carousel-control.right {
    background-color: transparent;
}
.carousel-control.left {
    background-color: transparent;
}
.footer-icon {
    color: white;
    height: 22px;
    width: 22px;
}
#custom-caption {
    left: 1em;
    text-align: left;
    top: 5%;
    -o-transform: translateY(-5%);
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%);
}

#scroll-image {
    max-height: 950px;
    width: 100%;
    position: center center;
    margin-top: 5px;
}

.carousel-inner {
    margin-top: 0;
    width: 100%;
}
.btn-mckamey {
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 0.45em;
    font-family: 'Zilla Slab', serif;
    float: right;
    font-weight: bold;
    font-size: 2.5em;
}
.btn-mckamey:hover, .btn-mckamey:active, .btn-mckamey:link, .btn-mckamey:visited {
    text-decoration: none;
    background-color: transparent;
    color: white;
}
.topp {
    margin-top: 5em;
}
#vol-logo {
    /* height: 50px;
    width: auto; */
    max-height: 200px;
    max-width: auto;
}
.login {
    float: left;
}
#login {
    border: 3px dashed rgb(150, 136, 98);
    border-radius: 0.45em;
}
#gold-btn {
    margin-top: 1em;
    background-color: rgb(2, 92, 46);
    color: white;
    cursor: pointer;
    position:  relative;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#gold-btn:hover {
    background-color: black;
}
/* ANIMAL LIST ANIMAL LIST ANIMAL LIST ANIMAL LIST */

#animal-list {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.the-animals {
    padding: 5px;
}

 .animal-name {
    float: left;
}

.animal-description {
    float: right;
} 
.animal-div:hover {
    /* margin-top: 7.5em; */
    background-color: rgb(2, 92, 46);
    color: white;
}
.animal-div {
    padding: 1.5em;
}
.animal-pic {
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 300px;
    min-height: 300px;
    min-width: 300px;
}
#select {
    float: left;
}
/* #select h3 {
    color: white;
} */
#selectAnimalButton {
    margin-left: 1em;
}
/*.animalDropdownBtn {
     background-color: rgb(2, 92, 46);
    width: 3em; 
}*/

#prices {
    background-color: rgb(150, 136, 98);
    color: white;
    height: 100%;
    padding: 1em;
    padding-bottom: 1em;
}

/* USER LIST USER LIST USER LIST USER LIST */
.pad-top {
    padding-top: 100px;
}

.btn-text {
    background-color: rgb(2, 92, 46);
    color: white;
    font-family: 'Zilla Slab', serif;
    text-decoration: none;
}

/* SINGLE/UPDATE USER SINGLE/UPDATE USER SINGLE/UPDATE USER SINGLE/UPDATE USER */
#startdate {
    float:right;
}

.extra-pad-top {
    padding-top: 110px;
}

.bottom-pad {
    padding-bottom: 100px;
}

.extra-bottom-pad {
    padding-bottom: 175px;
}

#edit-user input {
    max-width: 200px;
    margin: 5px;
}

#edit-user select {
    max-width: 90px;
    margin: 5px;
}

/*.delete-user {
    margin-left: 25px;
}*/

.btn-danger {
    border-radius: 40px;
}
/* SINGLE ANIMAL SINGLE ANIMAL ANIMAL SINGLE ANIMAL */

.animal-single {
    box-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.animal-comments {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* DONATIONS DONATIONS DONATIONS DONATIONS */
.gold-bar {
    background-color: rgb(150, 136, 98);
    color: white;
}
.my-form {
    max-width: 50em;
}

.cat-donate-pic {
    content: 'Smiling Cat';
    background-image: url("/images/talking-cat.jpg");
    opacity: 0.9;
    background-size: cover;
    width: 25em;
    height: 25em;
    display: block;
    position: relative;
    margin: 2em;
    margin-top: 2em;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.dog-donate-pic {
    background-image: url("/images/looking-up-dog.jpg");
    content: 'Smiling Dog';
    opacity: 0.9;
    background-size: cover;
    width: 25em;
    height: 25em;
    display: block;
    position: relative;
    margin: 2em;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

/*.donate-pic {
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 300px;
    min-height: 300px;
    min-width: 300px;
}*/
/* ADMIN ADMIN ADMIN ADMIN ADMIN ADMIN ADMIN ADMIN */
#admin-animals {
    float: right;
    min-width: 20em;
    min-height: 20em;
    border-radius: 25px;
    padding-bottom: 1em;
}
#admin-users {
    float: left;
    min-width: 20em;
    min-height: 20em;
    border-radius: 25px;
    padding-bottom: 1em;
}
.admin-tools {
    clear: both;
    margin-right: 1em;
    margin-left: 3em;
}
.admin-heading {
    padding-top: 1em;
    margin-left: .25em;
}
#admin-comments {
    clear: both;
    margin-left: 30%;
    padding-top: 5em;
}
.update-animal-pic {
    float: left;
}
.add-animal-btn {
    margin: 5px;
}

#animalDropDown {
    max-width: 25em;
}
/*#searchby {
    margin-right: 7em;
}*/
/*#admin-container {
    margin-top: 7.5em;
}*/
#flagged-comments {
    border: 5px solid  rgb(2, 92, 46);
    border-radius: 25px;
    float: left;
    min-width: 100%;
    min-height: 10em;
    padding-bottom: 1em;
    margin-bottom: 5em;
}
#flagged-header {
    clear: both;
    margin-left: 35%;
    padding-top: 6em;
}
#flagged-alert {
    margin-top: .5em;
    margin-left: 1em;
    color: rgb(2, 92, 46);
    font-size:  5em;
}