<div class="row top">
    <div class="container" id="animal-list">
        <div class="row text-center">
            <div class="col-md-4" id="prices">
                <h3>Dogs</h3>
                Ambassadors(puppies/pure breds): $150
                <br>Adults: $80
                <h3>Cats</h3>
                Kittens: $70
                <br>Adults: $50
            </div>
            <div class="col-md-4" id="select"> <h3 class="green-back">Select an Animal</h3>
                <form id="selectAnimalButton" class="dropdown animalDropdownMainDiv pull-right" auto-close="outsideClick">
                    <input disable-auto-close type="search" ng-model="searchFilter" class="animalDropdownSearchBox text-center" placeholder="Search by Name or ID"></input>
                    <button class="btn btn-default dropdown-toggle animalDropdownBtn title" type="submit" id="individualDrop" data-toggle="dropdown"> 
                        Search <span class="caret text-center"></span>
                    </button>
                    <span ng-show="submitted"><label class="error">Error</label></span>
                    <ul id="animalDropDown" class="dropdown-menu animalDropdownUlStyle" role="menu" aria-labelledby="individualDrop">
                        
                        <li role="presentation" ng-repeat="a in animals | filter: searchFilter"><a role="menuitem" ng-href="/animals/{{ a.id }}">{{a.name}} {{a.shelterid}}</a>
                </form>
            </div>
            <div class="col-md-4" id="prices">
                <h3>Other Animals</h3>
                Pricing and availability of livestock and exotic pets may vary
                <br>
                <h3>Seniors</h3> 
                (1/2 off) available for pets 7+ years old. Only one discount per pet is allowed
            </div>
        </div>
                    
        <br>
        <!-- ANIMAL LIST  -->
        <div class="col-sm-6 col-md-4 col-lg-4 animal-div" ng-repeat="a in animals">
            <div class="the-animals">
                <h2 class="animal-name">{{ a.name }}</h2>

                <h2 class="animal-description">
                    {{ a.shelterid }}</h2>

                <a href="/animals/{{ a.id }}"><img src="{{ a.imageurl }}" class="animal-pic img-fluid" width="500px"></a>
            </div>
         </div>
    </div>
</div>