<div class="container">
    <div class="col-md-4" id="animal-list">
        <h1>Here is a static page of nothing.</h1>
        <p>This page doesn't have to exist. It doesn't have to have full utility.</p>
        <ul> <li> Static page of empty content showing conceptual functionality</li>
            <li> In a far off, magical land, it could be the blog where the admin posts in one spot only. </li>
            <li> If all else, could link to McKamey. </li>
            <li> Bulletin Board says, "McKamey information for you, volunteer, today, that is important, but not necessarily enough to email you about it. Important enough to include here for your convenience if you're on site already."</li>
        </ul></div>