<div class="container-fluid col-md-6">
    <div class="container" id="animal-list">
        <h1>{{ animal.name }} - #{{ animal.shelterid }}</h1>
        <img src="{{ animal.imageurl }}" class="animal-img" width="500px">
        <h3>{{ animal.breed }} - {{ animal.age }} - {{ animal.gender }} - {{ animal.size }}</h3>
        <p>{{ animal.bio }}</p>
        <button ng-show="user.role === 'admin'" class="btn btn-text btn-xs"><a ng-href="/animals/{{ animal.id }}/update" class="btn-text"><span><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>Edit Animal</span></a></button>
        <button ng-show="user.role === 'admin'" ng-click="deleteAnimal()" class="btn btn-danger btn-xs"><span><i class="fa fa-trash-o" aria-hidden="true"></i>Delete Animal</span></button>
    </div>
</div>

<div class="container col-md-6 pad-top">
    <h1><strong>Volunteer Comments/Feedback</strong></h1>
</div>