<div class="container-fluid top">
    <div class="container col-md-12 gold-back">
        <a href="/animals">
            <h3>Back to Animals</h3>
        </a>
        <!--  -->
    </div>
    <div class="container col-md-12 animal-single">
        <h1>{{ animal.name }} - #{{ animal.shelterid }}</h1>
        <img src="{{ animal.imageurl }}" class="animal-img img-responsive" width="500px">
        <h3>{{ animal.breed }} - {{ animal.age }} - {{ animal.gender }} - {{ animal.size }}</h3>
        <p>{{ animal.bio }}</p>
        <a ng-href="/animals/{{ animal.id }}/update"><button ng-show="user.role === 'admin'" class="btn btn-text btn-md btn"><span><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>Edit Animal</span></button></a>
        <button ng-show="user.role === 'admin'" ng-click="deleteAnimal()" class="btn btn-danger btn-xs"><span><i class="fa fa-trash-o" aria-hidden="true"></i>Delete Animal</span></button>
    </div>

    <div class="container col-md-12 animal-comments">
        <div>
        <h1 class="green-back">Volunteer Comments/Feedback</h1>
        </div>
        <div ng-repeat="c in comment">
            <h4>{{ c.firstname }} {{ c.lastname }} commented: </h4>
            <h4>{{ c.comment }}</h4>
            <h5><em>at: {{ c.timestamp | date: "short" }}</em></h5>
            <button ng-hide="c.userid === user.id" ng-click="c.flagged = 1; flagComment(c)" class="btn btn-warning btn-sm pull-right">
                <span><i class="glyphicon glyphicon-flag" aria-hidden="true"></i>Report</span>
            </button>
            <button ng-if="c.userid === user.id || user.role === 'admin'" ng-click="deleteComment(c)" class="col-md-offset-2 btn btn-danger btn-xs pull-right delete-user">
                <span><i class="fa fa-trash-o" aria-hidden="true"></i>Delete Comment</span>
            </button>
        </div><br>
        <div>
            <div>
            <h1 class="green-back">Add a Comment</h1>
            </div>
            <div>
                <h4><strong> by {{ user.firstname }} {{ user.lastname }}</strong></h4>
                <textarea ng-model="commentToAdd" class="form-control text" placeholder="Comment"></textarea>
                <button ng-click="addComment()" class="btn btn-md btn-text pull-right">Save</button>
            </div>
        </div>
    </div>
</div>