<div class="container top">
    <h1>Volunteers</h1>
    <div class="container" id="user-list" ng-repeat="u in users">
        <h1>{{ u.firstname }} {{ u.lastname }} - {{ u.email }} </h1>
        <button class="edit-btn btn btn-info btn-xs"><a ng-href="/users/{{ u.id }}/update"><span id="btn-text"><i class="glyphicon glyphicon-pencil edit-btn" aria-hidden="true"></i>Edit User</span></a></button>
    </div>
</div>

<div class="text-center">
    <h1>Add New User</h1>
    <form ng-submit="saveUser()">
        <input ng-model="firstname" placeholder="First Name">
        <input ng-model="lastname" placeholder="Last Name">
        <input type="email" ng-model="email" placeholder="Email">
        <input type="password" ng-model="password" placeholder="Password">
        <input class="btn btn-default" type="submit" value="Save">
    </form>
</div>
