<div class="container">
    <div class="container extra-pad-top col-lg-3 bottom-pad" id="edit-user">
        <h1><strong>Edit User</strong></h1>
        <input ng-required="true" type="text" class="form-control text" placeholder="First Name" ng-model="user.firstname"></input>
        <input ng-required="true" type="text" class="form-control text" placeholder="Last Name" ng-model="user.lastname"></input>
        <input ng-required="true" type="text" class="form-control text" placeholder="Email" ng-model="user.email"></input>
        <select class="form-control" ng-model="user.role">
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select>
        <button ng-click="updateUser()" class="btn btn-sm btn-text">Save</button>
        <button ng-click="deleteUser()" class="btn btn-danger btn-xs delete-user"><span><i class="fa fa-trash-o" aria-hidden="true"></i>Delete User</span></button>
    </div>
</div>