<div class="container">
    <div class="row">
        <!-- ADD USER  -->
        <div ng-show="user.role === 'admin'" class="col-md-4 top">
            <h1 class="green-back">Add New User</h1>
            <div class="pads outline">
                <form ng-submit="saveUser()">
                    <div class="margin-form">
                        <input ng-model="firstname" ng-required="true" placeholder="First Name">
                    </div>
                    <div class="margin-form">
                        <input ng-model="lastname" ng-required="true" placeholder="Last Name">
                    </div>
                    <div class="margin-form">
                        <input type="email" ng-model="email" ng-required="true" placeholder="Email">
                    </div>
                    <div class="margin-form">
                        <input type="password" ng-model="password" ng-required="true" placeholder="Password">
                    </div>
                    <div class="margin-form">
                        <input class="btn btn-text" type="submit" value="Save">
                    </div>
                </form>
            </div>
        </div>
        <!-- SELECT USER  -->
        <div ng-show="user.role === 'admin'" class="col-md-4 top">
            <h1 class="gold-back">Current Users</h1>
            <div class="pads outline">
                <!-- <h3>Select User</h3> -->
                <div class="dropdown userDropdownMainDiv" auto-close="outsideClick">
                    <button class="btn btn-default dropdown-toggle userDropdownBtn" type="button" id="individualDrop" data-toggle="dropdown" value="{{user.id}}">Select User<span class="caret pull-right"> </span> </button>
                    <span ng-show="submitted"><label class="error">Error</label></span>
                    <ul id="userDropDown" class="dropdown-menu userDropdownUlStyle" role="menu" aria-labelledby="individualDrop">
                        <input disable-auto-close type="search" ng-model="serchFilter" class="userDropdownSearchBox" placeholder="Search"></input>
                        <li role="presentation" ng-repeat="u in users | filter: serchFilter"><a role="menuitem" ng-href="/users/{{ u.id }}">{{u.firstname}} {{u.lastname}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- USER LIST  -->
<div class="container col-md-12">
        <!-- <div> -->
        <h1 class="green-back">User List</h1>
        <!-- </div> -->
        <div class="comment col-md-12" ng-repeat="u in users">
            <div class="col-md-6 pull-left">
                <h1>{{ u.firstname }} {{ u.lastname }}</h1>
            </div>
            <div class="col-md-6 pull-right pads">
                <a ng-href="/users/{{ u.id }}">
                <button class="btn btn-text btn-sm">
                    <span>
                    <i class="glyphicon glyphicon-zoom-in" aria-hidden="true"></i>
                    View User
                    </span>
                </button>
                </a>
            </div>
        </div>
    </div>
</div>